*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size:16px
}

body {
 display:block;
 float:left;
 width:100%;
  background: #1aaa6f;
  font-family: 'Poppins', sans-serif;
}

.red{
  background: red;
}
.blue{
  background: blue;
}

.content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto ;
}

.clear{
  display:block;
  width: 100%;
  clear:both
}

.box {
  display:block;
  padding: 5px;
  float:left;
}

.left-col {
  width: 60%;
  padding: 5px 15px;
}

.right-col {
  width: 40%;
  background: #fff;
  padding: 15px;
}

.header {
  padding:15px 0;
  width:100%;
}

.message {
  width:calc(100% - 150px);
  color: #fff;
}

.message > h1 {
  margin: 0;
  font-weight: bolder;
}

.message > p {
  margin-top:0;
  margin-right:0;
  margin-bottom:0;
  margin-left:0;
  font-weight:300;
}

.login {
  color:#fff;
  width:150px;
  text-align: right;
}

.login > i {
 font-size: 2em; 
 display:inline-block;
 background: #fff;
 color:#1aaa6f;
 width: 45px;
 height:45px;
 padding: 5px 0 0 0;
 border-radius: 100%;
 text-align: center;
 margin-left: 5px;
}

.search {
  width: 100%;
  position: relative;
}

.search > input {
  background: #108f6f;
  color:#fff;
  padding: 22px 15px 22px 60px;
  border-radius: 15px;
  border: 0;
  width: 100%;
  outline:0;
}

.search > i {
  position:absolute;
  top: 50%;
  left:22px;
  transform: translateY(-50%);
  font-size: 2em;
  color: #fff;
  opacity: 0.5;
}

.search ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.5; /* Firefox */
}

.category {
  width: 100%;
  padding: 5px 0;
}

.category > .item {
  background: #129e6c;
  width: calc(25% - 10px);
  margin: 5px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.category .item i {
  font-size: 3em;
  color: #ebebeb;
}

.category .text {
  color: #fff;
  font-weight: bold;
  font-size: .875em;
  padding: 3px;
  margin: 0;
}

.category .text.font-lit {
  font-size: .75em;
  font-weight: 300;
}

.category .btn {
  display:flex;
  justify-content: center;
  align-items: center;

  color:#fff;
  font-size: .875em;
  font-weight: bold;
  background-color:#129e6c;

  width: 100%;
  border: 0;
  outline:0;
  border-radius: 8px;
  vertical-align: text-top;

  height: 60px;
  line-height: 60px;
  text-align: center;
}

.category .btn i {
  font-size: 2.5em;
  margin-left: 15px;
}

.space {
  padding: 10px;
}

.footer {
  padding-right: 0;
}

.footer, 
.footer-text {
  color:#fff;
  width: 100%;
}

.footer-text {
  padding: 0;
}

.footer .btn,
.footer .footer-ask {
  display:block;
  float:left;
}

.footer .btn {
  padding: 20px;
  color: #333;
  font-weight: bolder;
  font-size: 1.2em;
  background: #ffce1f;
  border: 0;
  border-radius: 20px;
  width: 100%;
  max-width: 220px;
  text-transform: capitalize;
}

.footer-ask {
  margin: 15px 0 15px 0;
}



.footer-text button,
.footer-text p {
  display: block;
  float: left;
}

.footer-text p,
.footer-text span {
  margin: 0 7.5px;
}

.footer-text p {
  font-weight: bolder;
  float:right;
  margin: 0 0 0 0;
}

.footer-text p span:first-of-type {
  margin: 0 0 0 7.5px;
}


.footer-text i {
  margin-left: 10px;
  font-size: 1.5em;
  background: #108f6f;
  border-radius: 100%;
  padding: 5px;
}
