*, *::after, *::before {
  box-sizing: border-box;
}

body {
 display:block;
 float:left;
 width:100%;
  background: #1aaa6f;
  font-family: 'Poppins', sans-serif;
}

.red{
  background: red;
}
.blue{
  background: blue;
}

.content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto ;
}

.box {
  display:block;
  padding: 5px;
  float:left;
}

.left-col {
  width: 60%;
}

.right-col {
  width: 40%;
  background: #fff;
  padding: 15px;
}

.header {
  padding:15px;
  border: 1px #000 solid;
  width:100%;
}

.message {
  width:calc(100% - 150px);
  color: #fff;
}

.message > h1 {
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  font-weight: bolder;
}

.message > p {
  margin-top:0;
  margin-right:0;
  margin-bottom:0;
  margin-left:0;
  font-weight:300;
}

.login {
  color:#fff;
  width:150px;
  text-align: right;
}

.login > i {
 font-size: 2em; 
 display:inline-block;
 background: #fff;
 color:#1aaa6f;
 width: 45px;
 height:45px;
 padding: 5px 0 0 0;
 border-radius: 100%;
 text-align: center;
 margin-left: 5px;
}

.search {
  width: 100%;
  position: relative;
}

.search > input {
  background: #108f6f;
  color:#fff;
  padding: 22px 15px 22px 60px;
  border-radius: 15px;
  border: 0;
  width: 100%;
  outline:0;
}

.search > i {
  position:absolute;
  top: 50%;
  left:22px;
  transform: translateY(-50%);
  font-size: 2em;
  color: #fff;
  opacity: 0.5;
}

.search ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.5; /* Firefox */
}

